@font-face {
    font-family: "Felidae";
    font-style: normal;
    src: url(../fonts/Felidae.woff2) format(woff2),
         url(../fonts/Felidae.woff) format(woff),
         url(../fonts/src/Felidae.ttf) format(ttf),
}
@font-face {
    font-family: "Larisa";
    font-style: normal;
    src: url(../fonts/Larisa.woff2) format(woff2),
         url(../fonts/Larisa.woff) format(woff),
         url(../fonts/src/Larisa.ttf) format(ttf),
}
@font-face {
    font-family: "Anticva";
    font-weight: 400;
    src: url(../fonts/Anticva.woff2) format(woff2),
         url(../fonts/Anticva.woff) format(woff),
         url(../fonts/src/Anticva.otf) format(otf),
}

