<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <script src="../js/main.min.js" defer></script>
    <title>Wedding</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <h1 class="header__title">Wedding</h1>
                <img class="header__img" src="../img/top-img.webp">
                <h2 class="header__subtitle">Артур & Маргарита</h2>
                <div class="header__stroke">
                    <h2 class="header__stroke-text">16.08.2024</h2>
                </div>
            </div>
        </div>
    </header>